.card{
    display: flex;
    /*flex-direction: column;
    justify-content: center;
    align-items: center ; */
    border: 1px solid black;
    margin-top: 300px;
    border-radius: 2px;
    
    margin-left: 200px;
    width: 150px;
    height: 250px;
    background: #ffffff;
}
#potad{
    height: 130px;
    width: 130px;
    background: #ffffff;
} 
#imagem{
    margin-top: 200;
    width:130px ;
    height: 97.500;
    background: #ffffff;
    margin-left: 8px;
    margin-top: 10px;
}
#titulo{
    margin-left: ;
    margin-top: 10px;
    font-size: 20px;
    background-color: #ffffff;
}
#valor{
    font-size: 20px;
    font-family: "Frank Ruhl Libre", serif;
    background-color: #ffffff;
    text-align: center;
}
#un{
    margin-left: 10px;
    font-size: 20px;
    font-family: "Frank Ruhl Libre", serif;
    background-color: #ffffff;
} 
.card a{
    background-color: #ffffff;
}
