.card{
    display: flex;
    /*flex-direction: column;
    justify-content: center;
    align-items: center ; */
    border: 1px solid rgb(53, 43, 43);
    margin-top: 300px;
    border-radius: 2px;
    
    margin-left: 200px;
    width: 190px;
    height: 250px;
    background: #ffffff;
}
#potad{
    height: 130px;
    width: 180px;
    background: #ffffff;
} 
#imagem{
    margin-top: 200;
    width:155px ;
    height: 116.250;
    background: #ffffff;
    margin-left: 15px;
    margin-top: 10px;
}
#titulo{
    margin-left:40px ;
    margin-top: 2px;
    width: 130px;
    font-size: 20px;
    background-color: #ffffff;
}
#titlo{
    margin-left:11px ;
    margin-top: -5px;
    width: 130px;
    font-size: 13px;
    background-color: #ffffff;
}
#valor{
    font-size: 35px;
    font-family: "Frank Ruhl Libre", serif;
    background-color: #ffffff;
    text-align: center;
}
#un{
    margin-left: 10px;
    font-size: 15px;
    font-family: "Frank Ruhl Libre", serif;
    background-color: #ffffff;
} 
.card a{
    background-color: #ffffff;
}
