 .bloco1{
    display: flex;
    justify-content: center;
    margin-bottom: -190px;
    margin-top:10px ;
    margin-right: 10%;
} 

.bloco2{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    margin-top:10px ;
    margin-right: 10%;

}
 
