.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redeslogin{
    margin-top: 5rem;
    display: flex;
    width: 3rem;
    height: 3rem;
    flex-direction: row;
    font-size: 15px;
    margin-left: 40rem;
    
    
}
.botaologin{
margin-top: 5rem;
margin-left: 42rem;


}
#logotl{
    width: 10rem;
    margin-left: 54rem;
    margin-top: 50px;
    
}
#entrar{
    border-bottom: solid;
    
}
#criar{
    border-bottom: solid;
    margin-right: 20px;
}
#email{
    border-bottom: solid;
    background-color: white;
    padding-left: 25rem;
    margin-top: 6rem;
}

#senha{
border-bottom: solid;
padding-left: 25rem;
margin: 5rem;
}


main{
 background-color: white;
 margin: 14rem;
 border-radius: 2rem;

}

#logo{
    margin-left: 50p;
}


