#imageca{
    width: 20%;
    align-items: center;
}

.blocoesq{
    display: flex;
 flex-direction: column;
 justify-content: center;
 
    
}
 
.formca{
 display: flex;
 justify-content: space-around;
 margin: 15 rem;
 }

 #teste{
   
 }
  